[submodule "build/vendor/kobold"]
	path = build/vendor/kobold
	url = https://wurststulle@github.com/wurststulle/kobold.git
[submodule "build/vendor/yaffmap-map"]
        path = build/vendor/yaffmap-map
        url = https://wurststulle@github.com/wurststulle/yaffmap-map.git
[submodule "build/vendor/Propel"]
	path = build/vendor/Propel
	url = https://github.com/propelorm/Propel.git
[submodule "build/vendor/PHPLiveX"]
	path = build/vendor/PHPLiveX
	url = https://wurststulle@github.com/wurststulle/phplivex.git
